/* Navigation Bar */

nav{
	margin: -10px 100px 2vh -10px;
    background: #26877F;
	float: left;
	overflow: hidden;
	position: relative;
	padding: 0 10px;
    width: 100%;
}


nav li { 
    width:20%;
    margin:0;
    padding:0;
	float: left;
}

nav a {
    text-align:center;
    padding:12px 0 13px 0;
    margin:0;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    display:block;
    text-decoration: none;
    font-size: 2vw;
    transition-duration:1s;
	transition-timing-function: ease-in-out;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;
}

nav a:hover { 
    color: #495E57;
    background:#fff;
}

ul.nav li:first-child a{
    border:none;
}
ul.nav li:last-child a {
    border:none;
}​

/* Body */

body {
    background-color: #E0E0E2;
}

ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

li {
    display: inline;
}

main {
    text-align: center;
	margin-bottom: 20px;
	border-bottom: 2px solid #495E57;
    display:contents;
    max-height: 70vh;
}

footer {
    display:flex;
}

footer div{
    flex:1;
}

h1 {
    text-align: center;
    color: #656969;
    font-size: 2vw;
}

.center-text {
    text-align: center;
}

header img {
    display: block;
    width:10%;
    margin: 0 auto 30px auto;
}

h2 > span {
    color: #FA9F42;
    font-size: 0.75em;
}


/* Properties for other selectors */
.menu, .ll{
    text-align: center;
    color: #000;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3vw;
    margin-bottom: 20px;
}

.menu-container {
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color:#E0E0E2;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 2px solid #495E57;
    border-top: 2px solid #495E57;
}

div img{
    width:100%;
    max-height: 60vh;
    vertical-align: middle;
}

/* Carousel*/

.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;

}

@keyframes fadeInOpacity {
	0% {
		opacity: 0.4;
	}
	100% {
		opacity: 1;
	}
}



/* Images Invisible */
.Containers {
  display: none;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

/* Caption */
.Info {
  color: #fff;
  font-size: 2vw;
  bottom: 10px;
  width:50%;
  text-align: right;
  padding: 10px 0;
  position: absolute;
  margin-left: 49%;
  font-family: 'Patrick Hand SC', cursive;

  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function:ease-in-out;
  animation-duration: 1s;
}

/* Form */


form{
	margin-bottom: 20px;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 1.7vw;
    padding-bottom: 2vh;
    border-bottom: 2px solid #495E57;
    color: #5A5A5A;

}

.label{
    font-weight: bold;
}

form > div {
    margin-top: 10px;
    margin-bottom: 10px;
	
}

form > div input{
    height: 1.8vh;
    width: 25vw;
    font-size: 1.5vh;
}

.plc{
    max-width: 3vw;
}



input:focus:invalid {
    color: red;
    border: red 3px solid;
}


button{
    height: 3vh;
    width: 20vw;
    vertical-align: middle;
    font-size: 1.5vh;
}

/* Footer */
footer img{
    max-height:10vh;
    max-width: 5vh;
    margin-left: 7vw;
}

footer div p {
    text-align: right;
    font-size: 1.7vh;
    color: #5A5A5A;
    font-weight: bold;
    font-family: cursive;
}

